@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,600');

:root {
  --background-color: #FFF;
  --background-timeline: #E5F3E2;
  --text-color: #222;
  --link-color: #273582;
  --link-color-hover: #7e8eeb;
  --btn-color: #555;
  --btn-color-border: #bbb;
  --btn-color-focus: #333;
  --btn-color-focus-border: #888;
  --btn-prim-color: #7e8eeb;
  --btn-prim-color-focus: #1eaedb;
  --form-color-border: #d1d1d1;
  --button-active-background: #E5F3E2;
  --button-active-font: #222;

  --element-size: 6.2rem;
}

:root.dark-theme {
  --background-color: #00241b;
  --background-timeline: #5b6c5d;
  --text-color: #a3d698;
  --link-color: #E5F3E2;
  --link-color-hover: #bbb;
  --btn-color: #555;
  --btn-color-border: #bbb;
  --btn-color-focus: #bbb;
  --btn-color-focus-border: #5b6c5d;
  --btn-prim-color: #7e8eeb;
  --btn-prim-color-focus: #1eaedb;
  --form-color-border: #5b6c5d;
  --button-active-background: #5b6c5d;
  --button-active-font: #a3d698;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);

  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */


h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
h1 {
  font-size: 4rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 3.6rem;
  line-height: 1.25;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 3rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 2.4rem;
  line-height: 1.35;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1.5rem;
  line-height: 1.6;
  letter-spacing: 0;
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-color-hover);
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button,
button {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: var(--btn-color);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid var(--btn-color-border);
  cursor: pointer;
  box-sizing: border-box;
}

.button:hover,
button:hover,
.button:focus,
button:focus {
  color: var(--btn-color-focus);
  border-color: var(--btn-color-focus-border);
  outline: 0;
}
.button.button-primary,
button.button-primary {
  color: var(--background-color);
  background-color: var(--btn-prim-color);
  border-color: var(--btn-prim-color);
}
.button.button-primary:hover,
button.button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus {
  color: var(--background-color);
  background-color: var(--btn-prim-color-focus);
  border-color: var(--btn-prim-color-focus);
}

.active {
  background-color: var(--button-active-background);
  color: var(--button-active-font);
}

/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside;
}
ol {
  list-style: decimal inside;
}
ol,
ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%;
}
li {
  margin-bottom: 1rem;
}